.hamburger__content {
  display: block;
  text-align: left;
}

.hamburger__icon {
  background-color: rgb(179, 138, 138);
  border: none;
}

.fa-bars {
  font-size: 22px;
  margin-top: 20px;
}

.fa-close {
  font-size: 22px;
  margin-top: 20px;
  margin-right: 2px;
}

ul li {
  display: block;
  list-style-type: none;
  text-decoration-style: none;
}
