.search {
  /* this will push outside the screen on small screens
  margin-left: 70px;
  flex will make sure this stays center
  you can use for example 
  width: 50%;
  depending on screen breakpoints
  */

  display: flex;
}

.search__bar {
  font-size: 15px;
  width: 80%;
}

.fa-search {
  font-size: 16px;
  outline: none;
}
