.navbar {
  background-color: rgb(179, 138, 138);
  height: 50px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar i {
  padding-left: 10px;
  padding-right: 10px;
}
